langchain==0.2.3
langchain-community==0.2.4
langchain-core==0.2.5
langchain-text-splitters==0.2.1
langsmith==0.1.75
loguru==0.7.2
openai==0.28.0
pymongo==4.7.2
pyTelegramBotAPI==4.19.0
requests==2.31.0
telebot==0.0.5
tiktoken==0.7.0
faiss-cpu==1.8.0
fpdf==1.7.2
pillow==10.3.0
defusedxml==0.7.1
fonttools==4.53.0
fpdf2==2.7.9
python-dotenv==1.0.1
